Repository rapidsai/docs, pull requests merged in 2021-02, with the labels that each got.

#161 Update changelog docs
  resources/changelog.md
Labels: doc

#163 Add RAPIDS notices for gcc7 updates and release extension
  _notices/rdn0001.md
  _notices/rdn0002.md
  _notices/rgn0005.md
  _notices/rgn0008.md
  _notices/rsn0002.md
  maintainers/maintainers.md
Labels: 3 - Ready for Review, doc, notices

#162 Add documentation for code freeze
  maintainers/maintainers.md
  releases/process.md
Labels: 3 - Ready for Review, doc

#168 DOC Add RSN 5 announcing CUDA 10.X deprecation
  _notices/rgn0008.md
  _notices/rsn0005.md
Labels: ! - Release, 3 - Ready for Review, notices

#166 [RELEASE] Update docs for 0.18 release
  _data/docs.yml
  _data/releases.yml
  maintainers/maintainers.md
  releases/schedule.md
Labels: ! - Release, 5 - Ready to Merge

#169 FIX Correct error from docs release process
  api/cudf-java/legacy
Labels: ! - Hotfix, bug
